:root {
  --gray: rgb(92, 88, 88);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.09);
}
i.fas.red {
  color: red;
}
i.fas.yellow {
  color: yellow;
}
i.fas.purple {
  color: #563d7c;
}
i.fas.blue {
  color: #2b7489;
}
header {
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 7px 0;
  box-sizing: content-box;
}
/* NAVIGATION BARS */
#desktop-nav {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.nav-brand {
  color: #fff;
  padding: 0 10px;
  font-size: 30px;
  margin-right: 20px;
}
.nav-sectionB {
  display: flex;
  flex-basis: 60%;
  align-items: center;
}
.nav-ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.nav-ul li {
  margin: 0 10px;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0 8px;
}
.nav-search {
  background-color: rgb(27, 29, 35);
  color: rgb(214, 216, 218);
  height: 35px;
  width: 240px;
  padding: 0 10px;
  margin-right: 30px;
  border: 1px solid rgb(127, 133, 146);
}
.nav-search::placeholder {
  color: rgba(255, 255, 255, 0.976);
  font-weight: 500;
}
.nav-sectionC {
  min-width: 150px;
  margin-left: auto;
  color: #fff;
  display: flex;
}
.nav-sectionC span {
  display: inline-block;
  margin: 0 10px;
  font-size: 17px;
  cursor: pointer;
}
.nav-sectionC span a {
  color: #fff;
}
.nav-sectionC span img {
  height: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline;
}
/* MAIN */
main {
  width: 100%;
  margin: 0;
}
.main-row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}
.main-sectionA {
  flex-basis: 25%;
}
.image-wrapper {
  position: relative;
  margin-bottom: 10px;
  max-width: 500px;
}
h2.user {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.username {
  margin: 0;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--gray);
}
.main-sectionA .profile-picture {
  width: 80%;
  border-radius: 50%;
}
.profile-emoji {
  position: absolute;
  right: 23%;
  bottom: 20%;
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 1px #000;
  cursor: pointer;
}

/* Column 2 */
.main-sectionB {
  flex-basis: 60%;
}
.count {
  font-weight: 600;
}
.main-sectionB input {
  width: 100%;
  padding: 8px 10px;
  color: rgb(214, 216, 218);
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-primary);
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
}
.main-sectionB input::placeholder {
  color: rgba(24, 26, 31, 0.59);
  font-weight: 500;
  font-size: 15px;
}
.repositories {
  width: 100%;
}
.repo-item {
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.repo-side1 {
  flex-basis: 70%;
}
.repo-item a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #0366d6;
  width: 100%;
}
.repo-item a:hover {
  text-decoration: underline;
}
.repo-details {
  margin-top: 30px;
}
.repo-details i {
  padding: 0 4px;
  color: black;
}
.repo-details span {
  padding-right: 20px;
}
.star-btn {
  height: 40px;
  width: 100px;
  padding: 5px 15px;
  border-radius: 4px;
  background: #ececec;
  border: none;
  outline: none;
  cursor: pointer;
}

/* TABS */
.tab-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 0;
  width: 100%;
}
.tab-row .tab-wrapper {
  flex-basis: 70%;
  margin-left: auto;
}
.tab-row .tab-wrapper ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.tab-row .tab-wrapper ul li {
  font-size: 17px;
  padding: 24px 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.tab-row .tab-wrapper ul li.active {
  border-bottom: 4px solid orange;
}
.tab-row .tab-wrapper ul li img {
  width: 18px;
  margin-right: 4px;
}

/* MOBILE NAV */
#mobile-nav {
  padding: 10px 18px;
}
#mobile-nav .toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}
i.notification-icon {
  position: relative;
  color: #fff;
}
i.notification-icon::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: blue;
  z-index: 99999999;
}
.mobile-mainNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-dropdown {
  width: 100%;
  padding: 30px 10px 0 10px;
  margin-top: -100vh;
  transition: 0.9s;
}
.mobile-dropdown.active {
  margin: 0;
}

.mobile-dropdown ul {
  list-style: none;
  padding: 0;
}
.mobile-dropdown ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 0;
}
.mobile-dropdown ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
}
.mobile-dropdown input {
  width: 90%;
}
/* RESPONSIVENESS */

@media screen and (max-width: 500px) {
  .repositories {
    width: 100%;
  }
  .repo-item {
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .repo-side1 {
    flex-basis: 80%;
  }
  .repo-item a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: blue;
    width: 100%;
  }
  .repo-description {
    font-size: 12px;
  }
  .repo-details {
    margin-top: 30px;
  }
  .repo-details i {
    padding: 0 4px;
  }
  .repo-details span {
    padding-right: 12px;
    font-size: 11px;
  }
  .star-btn {
    height: 30px;
    width: 80px;
    font-size: 13px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 770px) {
  #desktop-nav {
    display: none;
  }
  .image-wrapper {
    flex-basis: 40%;
  }
  .main-sectionA {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-emoji {
    display: none;
  }
  .tab-row {
    display: none;
  }
  .main-sectionA {
    flex-basis: 100%;
  }
  .main-sectionB {
    flex-basis: 100%;
  }
  /* TABS */
  .mobile-tab-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
    width: 90vw;
  }
  .mobile-tab-row ul {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-bottom: 0;
    overflow-x: scroll;
    padding: 5px 10px;
  }
  .mobile-tab-row ul li {
    font-size: 13px;
    font-weight: 600;
    padding: 17px 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .mobile-tab-row ul li.active {
    border-bottom: 4px solid orange;
  }
  .mobile-tab-row ul li img {
    width: 18px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 771px) {
  #mobile-nav {
    display: none;
  }
  .mobile-tab-row {
    display: none;
  }
  .main-sectionA {
    margin-top: -70px;
  }
}

@media screen and (min-width: 771px) and (max-width: 900px) {
  .nav-ul li {
    max-width: 60px;
    overflow-x: hidden;
  }
  .nav-ul li a {
    font-size: 13px;
    font-weight: 600;
    padding: 0 7px;
  }
}
@media screen and (max-width: 980px) {
  .nav-search {
    width: 140px;
  }
}
